
/*font*/
.font14 {
	font-size:14px;
}

.font12 {
	font-size:12px;
}
/*padding*/
.paddingT3 {
	padding-top:3px;
}
.paddingL2 {
	padding-left:2px;
}
.paddingL10 {
	padding-left:10px;
}
.paddingB10 {
	padding-left:10px;
}
/*margin*/
.marginL5 {
	margin-left:5px;
}

.marginL10 {
	margin-left:10px;
}

.marginL15 {
	margin-left:15px;
}

.marginL20 {
	margin-left:20px;
}

.marginR3 {
	margin-right:3px;
}

.marginR5 {
	margin-right:5px;
}

.marginR10 {
	margin-right:10px;
}

.marginR20 {
	margin-right:20px;
}

.mTMinus3 {
	margin-top:-3px;
}

.marginT5 {
	margin-top:5px;
}

.marginT6 {
	margin-top:6px;
}

.marginT10 {
	margin-top:10px;
}

.marginT25 {
	margin-top:25px;
}

.marginB5 {
	margin-bottom:5px;
}

.marginB10 {
	margin-bottom:10px;
}
/*float*/
.floatL {
	float:left;
}

.floatR {
	float:right;
}

.clear {
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/*vertical-align*/
.valignM {
	vertical-align:middle;
}

.valignT {
	vertical-align:top;
}
/*display*/
.inlineBlock {
	display:inline-block;
}

.displayBlock {
	display:block;
}
/*cursor*/
.curDefault {
	cursor:default;
}

.curPointer {
	cursor:pointer;
}
/*position*/
.positionRelative {
	position:relative;
}

/*text-align*/
.txtAlignR {
	text-align:right;
}

/*bgColor*/
.grayBgColor {
	background-color:#f7f7f7;
}

/*tab1*/
.tab1Menu .menuCell {
	padding:0 5px 5px 0;
	*float:none;
	*display:inline;
}

.tab1Menu .tabLink {
	display:inline-block;
	line-height:24px;
	padding:0 10px;
	border-radius:2px;
}

.tab1Menu .tabMenuCurrent .tabLink,.tab1Menu .tabMenuSelected .tabLink {
	cursor:default;
	text-decoration:none;
}

.tab1Menu .tabMenuCurrent a.tabLink:link,.tab1Menu .tabMenuCurrent a.tabLink:visited,.tab1Menu .tabMenuCurrent a.tabLink:hover,.tab1Menu .tabMenuCurrent a.tabLink:active {
	color:#fff;
	background-color:#072;
}

.tab1Menu .tabMenuSelected a.tabLink:link,.tab1Menu .tabMenuSelected a.tabLink:visited,.tab1Menu .tabMenuSelected a.tabLink:hover,.tab1Menu .tabMenuSelected a.tabLink:active {
	color:#b5b5b5;
	background-color:#f0f0f0;
}

/*tab2*/
.tab2Menu {
	*height:32px;
	padding:3px 0 0 9px;
	overflow:hidden;
	background:#f4f4f4 url(../images/tabImages/tab2MenuBg.gif) repeat-x left bottom;
}

.tab2Menu .tabLink {
	display:inline-block;
	line-height:29px;
	padding:0 16px;
	margin:0 0 0 1px;
	border:1px solid #f4f4f4;
}

.tab2Menu a.tabLink:hover {
	color:#464546;
	background-color:#e5e5e5;
	border:1px solid #e5e5e5;
	border-top:1px solid #f4f4f4;
	border-bottom:none;
	text-decoration:none;
}

.tab2Menu .tabMenuCurrent .tabLink {
	font-weight:bold;
	cursor:default;
	text-decoration:none;
}

.tab2Menu .tabMenuCurrent a.tabLink:link,.tab2Menu .tabMenuCurrent a.tabLink:visited,.tab2Menu .tabMenuCurrent a.tabLink:hover,.tab2Menu .tabMenuCurrent a.tabLink:active {
	line-height:30px;
	background-color:#fff;
	color:#464546;
	border:1px solid #eee;
	border-bottom:1px solid #fff;
}

/*tab3*/
/*.tab3Menu i {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin:4px 0 0 0;
	vertical-align: top;
	cursor:pointer;
}*/

.tab3Menu {
	height:25px;
	overflow:hidden;
	background:url(../images/tabImages/tab2MenuBg.gif) repeat-x left bottom;
}

.tab3Menu .tabLink {
	text-align:center;
	display:inline-block;
	width:25px;
	height:24px;
	overflow:hidden;
	line-height:24px;
	padding:0 10px;
	border-radius:2px;
}

.tab3Menu .tabMenuCurrent .tabLink {
	width:auto;
	cursor:default;
	text-decoration:none;
	_padding:3px 10px 0 10px;
}

.tab3Menu .tabMenuCurrent i {
	width: 18px;
	height: 18px;
	margin:4px 0 0 0;
	vertical-align: top;
	cursor:pointer;
	margin:4px 4px 0 0;
	*margin:0 4px 0 0;
}

.tab3Menu .tabMenuCurrent a.tabLink:link,.tab3Menu .tabMenuCurrent a.tabLink:visited,.tab3Menu .tabMenuCurrent a.tabLink:hover,.tab3Menu .tabMenuCurrent a.tabLink:active {
	color:#666;
	border:1px solid #e5e5e5;
	border-bottom:none;
	background: #fff;
	border-radius:4px 4px 0 0;
}

/*tab4*/
.tab4Menu {
	padding: 15px 0 0 4px;
}
.tab4Menu .menuCell {
	cursor:pointer;
	margin:3px 0 0 0;
	padding:5px 15px 5px 10px;
	overflow:hidden;
}
/*.tab4Menu i {
	display: inline-block;
	width: 22px;
	height: 18px;
	vertical-align: middle;
}*/
.tab4Menu .menuCell i {
	visibility:hidden;
}

.tab4Menu .tabMenuCurrent i,.tab4Menu .tabMenuHover i {
	visibility:visible;
}
.tab4Menu .tabMenuCurrent {
	background:#fcfcfc;
	border-bottom:1px solid #3b9047;
	border-radius:4px 0 0 4px;
}
.tab4Menu .tabMenuHover {
	background:#4ba85f;
	border-radius:4px 0 0 4px;
}
.tab4Menu .menuCellLine {
	height:2px;
	font-size:0;
	margin:15px 0;
	padding:0;
	overflow:hidden;
	background:url(../images/SQnav.png) no-repeat 0 -76px;
}
.tab4Menu .tabMenuHover .LWhiteA {
	font-weight:bold;
}

/*tab end*/


/*form*/
.icon_enterControl,.icon_forkControl,.icon_magnifier,.icon_downArrStyle1,.icon_radioBtnDefault,.icon_radioBtnSelected,.icon_checkBtnDefault,.icon_checkBtnSelected {
	display:inline-block;
	width:20px;
	height:20px;
	line-height:0;
	font-size:0;
	cursor:pointer;
	vertical-align:middle;
	background:url(../images/formImages/customFormSpr.png) no-repeat 2px 2px;
	_background:url(../images/formImages/customFormSpr.gif) no-repeat 2px 2px;
}

.icon_downArrStyle2 {
	display:inline-block;
	width:0;
	height:0;
	line-height:0;
	font-size:0;
	margin:0 0 0 4px;
	border-left:4px solid #fff;
	border-right:4px solid #fff;
	border-top:4px solid #aaa;
	vertical-align:middle;
}

.icon_forkControl {
	background-position:-25px 4px;
}

.icon_magnifier{
	outline:none;
	width:25px;
	height:22px;
	background-position:-114px 4px;
	border:none;
}

.icon_downArrStyle1 {
	width:25px;
	background-position:-142px 1px;
}

.icon_radioBtnDefault,.icon_radioBtnSelected,.icon_checkBtnDefault,.icon_checkBtnSelected {
	width:26px;
	background-position:-240px 0;
}

.icon_radioBtnSelected {
	background-position:-270px 0;
}

.icon_checkBtnDefault {
	background-position:-180px 0;
}

.icon_checkBtnSelected {
	background-position:-210px 0;
}

.customForm_txtInput {
	outline: none;
	height:12px;
	line-height:12px;
	*height: 20px;
    *line-height: 9px;
	padding:4px 4px;
	overflow:hidden;
	vertical-align:middle;
}

.customForm_textarea {
	outline: none;
	padding:6px 9px;
	overflow-y:auto;
}

.banResize {
	resize:none;
}

.customForm_inputBoxDisabled,.customForm_inputBoxDefault,.customForm_inputBoxGetFocus1,.customForm_inputBoxGetFocus2,.customForm_inputBoxFinish,.customForm_inputBoxError1,.customForm_inputBoxError2,.customForm_controlInputBox {
	color:#ccc;
	background-color:#fff;
	border:1px solid #d2d2d2;
	box-shadow:inset 0 1px 0 #ededed;
}

.customForm_inputBoxDisabled {
	display:inline-block;
	border:1px solid #e5e5e5;
	background-color:#f7f7f7;
	box-shadow:none;
	cursor:not-allowed;
}

.customForm_inputBoxGetFocus1 {
	color:#333;
}

.customForm_inputBoxGetFocus2 {
	color:#333;
	border:1px solid #67d39d;
	box-shadow:0 0 6px #69ee4f;
}

.customForm_inputBoxFinish {
	color:#666;
	box-shadow:none;
}

.customForm_inputBoxError1 {
	color:#333;
	border:1px solid #ff9966;
	box-shadow:0 0 6px #ffde00;
}

.customForm_inputBoxError2 {
	color:#dc6c6c;
	border:1px solid #ff8170;
	box-shadow:0 0 6px #ff8170;
}

.customForm_controlInputBox .txtInput {
	font-size:14px;
	height:18px;
	line-height:18px;
	vertical-align:middle;
	border:1px solid #fff;
}

.customForm_searchTxtInput {
	height:24px;
}

.customForm_searchTxtInput .txtInput {
	outline:none;
	color:#bbb;
	height:18px;
	line-height:18px;
	padding:2px 5px;
	border-radius:2px 0 0 2px;
	border:1px solid #ececec;
	border-right:none;
}

.customForm_searchInputBoxDisabled .txtInput,.customForm_searchInputBoxDisabled .icon_magnifier {
	cursor:not-allowed;
}

.customForm_searchInputBoxGetFocus .txtInput,.customForm_searchInputBoxFinish .txtInput {
	color:#666;
	border-color:#d2d2d2;
	box-shadow:inset 0 1px 0 #ededed;
}
.customForm_searchTxtInput .searchBtn {
	border-radius:0 2px 2px 0;
	border:1px solid #ececec;
}

.customForm_searchInputBoxGetFocus .searchBtn,.customForm_searchInputBoxFinish .searchBtn {
	border-color:#dcdcdc;
	background-color:#f0f0f0;
	box-shadow:inset 0 1px 0 #fff;
	background-position:-54px 4px;
}

.customForm_searchInputBoxFinish .icon_magnifier {
	box-shadow:inset 0 1px 1px #dadada;
	background-position:-84px 4px;
}

.customForm_selectWrap {
	position:relative;
}

.customForm_selectWrap .customForm_selectCategory {
	display:inline-block;
	height:20px;
	line-height:20px;
	cursor:pointer;
	background-color:#fff;
}

.customSelectStyle1 .customForm_selectCategory {
	color:#666;
	font-size:14px;
	padding:6px 9px;
	border:1px solid #d2d2d2;
}

.customDisabledSelectStyle .customForm_selectCategory {
	padding:0 0 0 6px;
	border:1px solid #e5e5e5;
	cursor:no-drop;
}

.customSelectStyle2 .customForm_selectCategory {
	padding:0 0 0 6px;
	border:1px solid #e5e5e5;
}

.customDisabledSelectStyle .selectBtn,.customSelectStyle2 .selectBtn {
	display:inline-block;
	text-align:center;
	width:20px;
	height:12px;
	padding:8px 0 0;
	margin:0 0 0 6px;
	border-left:1px solid #e5e5e5;
	vertical-align:middle;
	background-color:#fbfbfb;
	background-image:linear-gradient(to bottom, #fff, #f6f6f6);
}

.customDisabledSelectStyle .selectBtn {
	background-color:#f9f9f9;
	background-image:none;
}

.customDisabledSelectStyle .icon_downArrStyle2 {
	border-top-color:#e0e0e0;
	margin:0;
	border-left-color:#f9f9f9;
	border-right-color:#f9f9f9;
}

.customSelectStyle2 .icon_downArrStyle2 {
	border-top-color:#333;
	margin:0;
	vertical-align:top;
}

.customForm_selectWrap .categoryTxt {
	vertical-align:middle;
	_vertical-align:top;
}

.selectMouseOver .customForm_selectCategory,.selectClick .customForm_selectCategory {
	color:#ccc;
	background-color:#f7f7f7;
	box-shadow:0 0 6px #d8d8d8;
}

.select2Click .customForm_selectCategory {
	border-color:#dcac6c;
	background-color:#fff5d4;
}

.select2Click .selectBtn {
	border-left-color:#dcac6c;
	background-color:#fff5d4;
	background-image:none;
}

.select2Click .icon_downArrStyle2 {
	border-left-color:#fff5d4;
	border-right-color:#fff5d4;
}

.customForm_selectWrap .categoryItem {
	visibility:hidden;
	position:absolute;
	top:33px;
	left:0;
	z-index:1;
	background-color:#fff;
	border:1px solid #d2d2d2;
	list-style:none;
	margin:0;
	padding:0;
}

.select2Click .categoryItem {
	top:21px;
	padding:3px;
	box-shadow:0 1px 2px #dcdcdc;
}

.selectClick .categoryItem,.select2Click .categoryItem {
	visibility:visible;
}

.customSelectStyle1 .categoryCell a:link,.customSelectStyle1 .categoryCell a:visited {
	color:#666;
	font-size:14px;
	display:block;
	height:32px;
	line-height:32px;
	padding:0 9px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	cursor:default;
}

.customSelectStyle1 .categoryCell a:hover,.customSelectStyle1 .categoryCell a:active {
	color:#3f8e49;
	text-decoration:none;
	background-color:#f2fbf2;
}

.customSelectStyle1 a.selectedCategory:link,.customSelectStyle1 a.selectedCategory:visited,.customSelectStyle1 a.selectedCategory:hover,.customSelectStyle1 a.selectedCategory:active {
	color:#fff;
	text-decoration:none;
	background-color:#55a860;
	border-top:1px solid #3f8e49;
	border-bottom:1px solid #3f8e49;
}

.customSelectStyle2 .categoryCell a:link,.customSelectStyle2 .categoryCell a:visited {
	color:#333;
	display:block;
	height:20px;
	line-height:20px;
	padding:0 4px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	cursor:default;
}

.customSelectStyle2 .categoryCell a:hover,.customSelectStyle2 .categoryCell a:active {
	text-decoration:none;
	background-color:#f7f7f7;
}

.customSelectStyle2 a.selectedCategory:link,.customSelectStyle2 a.selectedCategory:visited,.customSelectStyle2 a.selectedCategory:hover,.customSelectStyle2 a.selectedCategory:active {
	text-decoration:none;
	background-color:#fff5d4;
	border:1px solid #deb276;
}



/*form end*/

/*link img*/
a.imgA:link,a.imgA:visited {
	display:inline-block;
	padding:4px;
	border:1px solid rgba(255,255,255,0);
	border:1px solid #fff\9;
}

a.imgA:hover,a.imgA:active {
	padding:4px;
	border:1px solid #d0d0d0;
	box-shadow:0 1px 2px #b3b3b3;
}

.imgA img {
	vertical-align:top;
}
/*link img end*/

/*tag*/
.customTag {
	display:inline-block;
	height:18px;
	line-height:18px;
	padding:0 6px;
	_height:15px;
	_line-height:15px;
	_padding:2px 6px 0 6px;
	border-radius:2px;
	margin: 0 2px 2px 0;
}
.customTag a:link ,.customTag a:visited{
	color: #fff;
}
.customTag a:hover{
	color: #fff;
	text-decoration: underline;
	opacity:0.5;
	filter:alpha(opacity=50);
}
.disSelectStyle{
	padding: 4px 6px;
	color:#333;
	background-color:#fff;
	border:1px solid #D1D1D1;
	margin: 0 5px 5px 0;
	font-weight: bold;
}
.disSelectStyle:hover{
	color:#888;
	background-color:#f4f4f4;
	border:1px solid #D1D1D1;
}
/*自定义选择器的容器*/
.itemSelectorWarp{
	width:316px;
	padding: 2px;
	min-height: 22px;
	*height: 22px;
	border:1px solid #e0e0e0;
}
.itemList{
	margin-top: 4px;
	width:310px;
	padding: 5px;
	border:1px solid #e0e0e0;
	background-color: #FAFAFA;
}

.colourstyle1,.colourstyle2,.colourstyle3,.colourstyle4,.colourstyle5,.colourstyle6,.colourstyle7,.colourstyle8,.colourstyle9,.colourstyle10 {
	color:#fff;
	background-color:#f29200;
	border:1px solid #f18000;
}

.colourstyle2 {
	background-color:#ea6a01;
	border-color:#d84600;
}

.colourstyle3 {
	background-color:#dd71af;
	border-color:#df5299;
}

.colourstyle4 {
	background-color:#fcbe05;
	border-color:#f5aa00;
}

.colourstyle5 {
	background-color:#8ec51a;
	border-color:#76b700;
}

.colourstyle6 {
	background-color:#9f86bb;
	border-color:#8d73b8;
}

.colourstyle7 {
	background-color:#8a8d92;
	border-color:#737678;
}

.colourstyle8 {
	background-color:#2ea7ee;
	border-color:#0b96e4;
}

.colourstyle9 {
	background-color:#2ca7bb;
	border-color:#039aaf;
}

.colourstyle10 {
	background-color:#81c6c3;
	border-color:#71bab2;
}
/*tag end*/


/*btn*/
.icon_concernSign,.icon_cancelConcernSign {
	display:inline-block;
	width:11px;
	height:17px;
	line-height:0;
	font-size:0;
	vertical-align:text-bottom;
	background:url(../images/btnImages/customBtn_signSpr.png) no-repeat 0 3px;
	_background:url(../images/btnImages/customBtn_signSpr.gif) no-repeat 0 3px;
}

.icon_cancelConcernSign {
	background-position:0 -25px;
}

.customBtn,.customBtnLarge,.customBtnSmall,.customBtnMini {
	text-align:center;
	display:inline-block;
	line-height:18px;
	padding:3px 12px;
	*padding:1px 12px 3px 12px;
	vertical-align:middle;
	border-radius:2px;
	cursor:pointer;
	border-width:1px;
	border-style:solid;
}

.customBtnLarge {
	font-size: 14px;
	padding:5px 14px;
}

.customBtnSmall {
	font-size: 14px;
	padding:2px 10px;
}

.customBtnMini {
	padding:0 8px;
	font-size: 12px;
}

.colourWhite,.colourWhite1:link,.colourWhite1:visited {
	color:#072;
	background-color:#fff;
	*border-width:1px;
	border-color:#e5e5e5;
	box-shadow:1px 1px 1px #efefef;
}

.colourWhite1:hover {
	color:#fff;
	text-decoration:none;
	background-color:#072;
	border-color:#066220;
}

.colourGray,.colourGray:link,.colourGray:visited,.colourGray:hover {
	cursor:default;
	color:#adadad;
	text-decoration:none;
	border:1px solid #e5e5e5;
	background-color:#efefef;
}

.colourLightGray,.colourLightGray1,.colourLightGray:link,.colourLightGray:visited,.colourLightGray1:link,.colourLightGray1:visited {
	color:#595a59;
	background-color:#f3f3f3;
	background-image:linear-gradient(to bottom, #f8f8f8, #e7e7e7);
	border-color:#bdbebb;
	box-shadow:inset 0 1px 0 #fff;
}

.colourLightGray:hover,.colourLightGray1:hover {
	color:#969696;
	text-decoration:none;
	background-color:#f3f3f3;
	background-image:linear-gradient(to bottom, #f8f8f8, #efefef);
}

.colourLightGray:active {
	color:#969696;
	text-shadow:0 1px 0 #fff;
	text-decoration:none;
	background-color:#e1e1e1;
	background-image:none;
	box-shadow:inset 0 1px 0 #d5d5d5;
}

.colourLightGray1:active {
	color:#969696;
	text-decoration:none;
	background-color:#f3f3f3;
	background-image:linear-gradient(to bottom, #f9f9f9, #eee);
	box-shadow:inset 0 1px 0 #e4e4e4;
}

.colourDarkGray,.colourDarkGray:link,.colourDarkGray:visited {
	color:#666;
	background-color:#dadada;
	background-image:linear-gradient(to bottom, #e0e0e0, #d3d3d3);
	border:none;
}

.colourDarkGray:hover {
	color:#fff;
	text-decoration:none;
	background-color:#91be5f;
	background-image:linear-gradient(to bottom, #98c26a, #8aba57);
}

.colourDarkGray:hover .icon_concernSign {
	background-position:-18px 3px;
}

.colourDarkGreen,.colourDarkGreen:link,.colourDarkGreen:visited {
	color:#fff;
	background-color:#328f48;
	border-color:#2c8140;
}

.colourDarkGreen:hover {
	text-decoration:none;
	background-color:#469d52;
	border-color:#2c8140;
}

.colourDarkGreen:active {
	text-decoration:none;
	background-color:#469d52;
	border-color:#2c8140;
	box-shadow:inset 0 2px 3px #257631;
}

.colourGreen2,.colourGreen2:link,.colourGreen2:visited {
	color:#fff;
	background-color:#91be5f;
	background-image:linear-gradient(to bottom, #98c26a, #8aba57);
	border:none;
}

.colourGreen2:after {
	content:"已关注";
}

.colourGreen2:hover {
	color:#ff99cc;
	text-decoration:none;
	background-color:#eb5790;
	background-image:linear-gradient(to bottom, #ec6197, #ea4d89);
}

.colourGreen2:hover:after {
	content:"取消关注";
}

.colourGreen2:hover .icon_cancelConcernSign {
	background-position:-18px -24px;
}

.colourOrange1,.colourOrange1:link,.colourOrange1:visited {
	color:#fff;
	background-color:#f9a32b;
	background-image:linear-gradient(to bottom, #F7A432, #f8950a);
	/*border-color:#e0952d #e0952d #bd7f26;*/
	border-color:#e0952d;
	/*border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
}

.colourOrange1:hover {
	color:#fff;
	text-decoration: none;
	background-color: #FAB049;
	background-image:linear-gradient(to bottom, #FAB049, #f8950a);
	border-color: #e0952d;
}
.colourOrange1:active{
	color:#fff;
	text-decoration: none;
	background-color: #E49321;
	border-color: #e0952d;
	box-shadow: inset 0 1px 3px #C9801B;
	background-image:linear-gradient(to bottom, #E49321, #E49321);
}

.colourRed1:link,.colourRed1:visited {
	color:#fff;
	background-color:#d54b46;
	background-image:linear-gradient(to bottom, #e95b57, #c23b34);
	border-color:#a43c37;
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.3);
}

.colourRed1:hover {
	color:#fff;
	text-decoration:underline;
}

.colourYellow1:link,.colourYellow1:visited {
	color:#fff;
	background-color:#daa978;
	border-color:#cd9b68;
	box-shadow: 1px 1px 2px #d4d4d4;
}

.colourYellow1:hover {
	color:#fff;
	text-decoration:none;
	background-color:#e9b784;
	border-color:#ce9c69;
}

.colourYellow1:active {
	color:#fff;
	text-decoration:none;
	background-color:#d1a16f;
	border-color:#c09363;
	box-shadow:inset 0 1px 3px #ba8f63;
}

/*btn end*/



/*tips*/
.icon_disabled,.icon_disabledSmall,.icon_error,.icon_errorSmall,.icon_warning,.icon_warningSmall,.icon_finish,.icon_finishSmall,.icon_hint,.icon_hintSmall,.icon_query,.icon_querySmall,.icon_hookStyle1 {
	display:inline-block;
	width:27px;
	height:26px;
	line-height:0;
	font-size:0;
	vertical-align:middle;
	margin:0 13px 0 0;
	background:url(../images/tips/customTips_signSpr.png) no-repeat 0 1px;
	_background:url(../images/tips/customTips_signSpr.gif) no-repeat 0 1px;
}

.icon_errorSmall,.icon_warningSmall,.icon_finishSmall,.icon_hintSmall,.icon_querySmall,.icon_disabledSmall {
	width:16px;
	height:18px;
	margin:0 7px 0 0;
	background-position:0 -154px;
}

.icon_disabled{
	background-position:-29px -69px;
}

.icon_disabledSmall {
	width:20px;
	background-position:-20px -154px;
}

.icon_warning {
	background-position:0 -34px;
}

.icon_warningSmall {
	width:20px;
	background-position:0 -129px;
}

.icon_finish {
	background-position:0 -69px;
}

.icon_finishSmall {
	width:17px;
	background-position:0 -103px;
}

.icon_hint {
	background-position:-29px 1px;
}

.icon_hintSmall {
	width:20px;
	background-position:-20px -129px;
}

.icon_query {
	background-position:-29px -34px;
}

.icon_querySmall {
	width:17px;
	background-position:-20px -103px;
}

.icon_hookStyle1 {
	width:18px;
	height:18px;
	margin:0;
	background-position:4px -176px;
}

.icon_forkGreen,.icon_forkOrange,.icon_forkRed,.icon_forkBlue {
	display:inline-block;
	width:19px;
	height:18px;
	line-height:0;
	font-size:0;
	vertical-align:middle;
	background:url(../images/tips/customTips_operateSpr.png) no-repeat 5px 4px;
	_background:url(../images/tips/customTips_operateSpr.gif) no-repeat 5px 4px;
}

.icon_forkOrange {
	background-position:-13px 4px;
}

.icon_forkRed {
	background-position:-29px 4px;
}

.icon_forkBlue {
	background-position:-46px 4px;
}

.icon_forkGreen:hover,.icon_forkOrange:hover,.icon_forkRed:hover,.icon_forkBlue:hover {
	opacity:0.7;
	filter:alpha(opacity=70);
}

.customTipsWrap {
	line-height:18px;
	padding:8px 9px;
	margin:0 auto;
}

.tipsError {
	color:#b94a48;
	border:1px solid #eed3d7;
	background-color:#f2dede;
}

.tipsWarning {
	color:#444544;
	border:1px solid #fbeed5;
	background-color:#fcf8e3;
}

.tipsFinish {
	color:#444544;
	border:1px solid #d6e9c6;
	background-color:#dff0d8;
}

.tipsHint {
	color:#444544;
	border:1px solid #a5bbf9;
	background-color:#bfd0ff;
}

.tipsQuery {
	color:#444544;
	border:1px solid #fbeed5;
	background-color:#fcf8e3;
}

.tipsSelected .active {
	color:#072;
}

.customTipsNoCon {
	width:100%;
	padding:15% 0;
	color:#b5b5b5;
	text-align:center;
	background:#f7f7f7;
}

.customTipsSuccessfulOperation {
	text-align:center;
	/*width:202px;*/
	height:56px;
	color:#fff;
	font-size:18px;
	line-height:56px;
	border:1px solid rgba(178,178,178,0.3);
	border-radius:3px;
	box-shadow:0 2px 3px rgba(178,178,178,0.3);
	background-color:rgba(0,0,0,0.3);
	*background-color:#b3b3b3;
}

/*tips end*/

/*dropdown*/
.customDropdownWrap {
	position:relative;
	*display:inline;
}

.customDropdownWrap .countArea {
	display: inline-block;
	line-height: 14px;
	padding: 0 4px;
	margin: 0 0 0 3px;
	font-weight: normal;
	color: #fff;
	background-color:#072;
	border-radius: 2px;
	font-family: Arial, Helvetica, sans-serif;
}

.customDropdownWrap .dropdownTxt {
	vertical-align:middle;
}

.customDropdownWrap .dropdown_currentValue {
	/*font-size:12px;*/
	height:19px;
	line-height:19px;
	display:inline-block;
	padding:2px 5px;
	border:1px solid #fff;
	border-radius:2px 2px 0 0;
	position:relative;
	z-index:2;
	cursor:pointer;
}

.customDropdownStyle3 .dropdown_currentValue {
	border:none;
}

.customDropdown1MouseOver {
	z-index:4;
}

.customDropdown1MouseOver .countArea {
	color:#072;
	background-color:#fff;
}

.customDropdown1MouseOver .dropdown_currentValue {
	color:#072;
	border-color:#cbcbcb;
	border-bottom:none;
	background-color:#f0f0f0;
}

.customDropdown1MouseOver .icon_downArrStyle2 {
	border-left-color:#f0f0f0;
	border-right-color:#f0f0f0;
	border-top-color:#072;
}

.customDropdownWrap .dropdownItem {
	visibility:hidden;
	position:absolute;
	top:22px;
	_top:23px;
	left:0;
	z-index:1;
	background-color:#f0f0f0;
	border:1px solid #cbcbcb;
	list-style:none;
	margin:0;
	padding:5px;
	box-shadow:0 1px 2px #dcdcdc;
}

.customDropdownWrap .dropdownItem .dropdownCell {
	line-height:18px;
	border-bottom:1px solid #e5e5e5;
}

.customDropdownWrap .dropdownItemUl2 .dropdownCell {
	padding:6px;
}

.customDropdownStyle2 .dropdownItem,.customDropdownStyle3 .dropdownItem {
	top:23px;
	left:auto;
	right:0;
	_top:23px;
	_right:-1px;
}

.customDropdownWrap .dropdownItemUl,.customDropdownWrap .dropdownItemUl2 {
	border:1px solid #e5e5e5;
	border-bottom:none;
	background-color:#fff;
}

.customDropdown1MouseOver .dropdownItem,.customDropdown3MouseOver .dropdownItem {
	visibility:visible;
}

.dropdownItemUl .dropdownCell a:link,.dropdownItemUl .dropdownCell a:visited {
	text-align:center;
	padding:6px 9px;
}

.dropdownItemUl .dropdownCell a:hover,.dropdownItemUl .dropdownCell a:active {
	text-decoration:none;
	background-color:#f7f7f7;
}

.dropdownItemUl a.customDropdown_selectedValue:link,.dropdownItemUl a.customDropdown_selectedValue:visited,.dropdownItemUl a.customDropdown_selectedValue:hover,.dropdownItemUl a.customDropdown_selectedValue:active {
	text-decoration:none;
	border:none;
	color:#072;
	background-color:#f2fbf2;
}

.associateWrap {
	border:1px solid #cbcbcb;
	background-color:#fff;
	position:absolute;
	top:33px;
	left:0;
	z-index:4;
	box-shadow:0 1px 2px #dcdcdc;
}

.associateWrap a {
	padding:0 9px;
	display:block;
	height:26px;
	line-height:26px;
	border-top:1px solid #fff;
	border-bottom:1px solid #f0f0f0;
}

.associateWrap a:hover {
	color:#fff;
	text-decoration:none;
	background-color:#e4b373;
	background-image:linear-gradient(to bottom, #ebba78, #ddad6d);
	border-top:1px solid #d6a768;
	border-bottom:1px solid #d6a768;
}

/*dropdown end*/

/*footer*/
.customFooter {
	clear: both;
	/*width: 960px;*/
	line-height: 21px;
	color: #666;
	padding:17px 20px;
	overflow: hidden;
	margin: 0 auto;
	border-top: 1px solid #ebebeb;
	border-left: 1px solid #cdced3;
}
/*footer end*/

/*grid system*/
.grid_col1 {
	width:30px;
}

.grid_col2 {
	width:70px;
}

.grid_col3 {
	width:110px;
}

.grid_col4 {
	width:150px;
}

.grid_col5 {
	width:190px;
}

.grid_col6 {
	width:230px;
}

.grid_col7 {
	width:270px;
}

.grid_col8 {
	width:310px;
}

.grid_col9 {
	width:350px;
}

.grid_col10 {
	width:390px;
}

.grid_col11 {
	width:430px;
}

.grid_col12 {
	width:470px;
}

.grid_col13 {
	width:510px;
}

.grid_col14 {
	width:550px;
}

.grid_col15 {
	width:590px;
}

.grid_col16 {
	width:630px;
}

.grid_col17 {
	width:670px;
}

.grid_col18 {
	width:710px;
}

.grid_col19 {
	width:750px;
}

.grid_col20 {
	width:790px;
}

.grid_col21 {
	width:830px;
}

.grid_col22 {
	width:870px;
}

.grid_col23 {
	width:910px;
}

.grid_col24 {
	width:950px;
}

.grid_col25 {
	width:990px;
}

/*loading*/
.loadingStyle1 {
	background:url(../image/loading_1.gif) no-repeat center center;
}